@import '../style/variables.module';
@import '../style/fonts';

.button {
  font-family: $font-inter;
  font-size: $font-size-smaller;
  border: 1px solid rgba($color, 0.4);
  border-radius: 2px;
  box-shadow: $shadow-button-regular;
  min-width: 80px;
  height: calc(22px + 0.5vw);
  padding: 1px $default-spacing;

  &:disabled {
    background-color: $lightest-gray;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-button-hover;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: $shadow-button-regular;
  }
}

.button-primary {
  background-color: rgb(255 255 255);
}

.button-secondary {
  background-color: rgb(226 226 242);
}

.textinput {
  height: 55px;

  label {
    font-family: $font-inter;
    font-size: $font-size-smaller;
  }

  input {
    margin-top: 2px;
    height: 25px;
    border: 1px solid rgba($color, 0.4);
    border-radius: 2px;
    padding: 0 4px;
  }
}

@keyframes slide-in-left {
  0% {
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: left;
  }
}

.horizontalline-animated-left {
  animation: slide-in-left 0.4s ease-in;

  // animation-delay: 0.1s; shows element before animation starts running. ..
}
