@import '../style/variables.scss';
@import '../style/fonts.scss';

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 90%;
    background-color: $lightest-gray;
  }
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
