@import '../style/variables.module';
@import '../style/fonts';

.main-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 100%;
    max-width: 840px;
  }
}

.signin-container {
  @keyframes boxshadow-fade-in {
    0% {
      box-shadow: none;
    }

    100% {
      box-shadow: $shadow-card;
    }
  }

  animation: boxshadow-fade-in 0.2s ease-in;
  background-color: $lightest-gray;
  padding: 10px 20px 20px;
  width: 100%;
  max-width: 375px;
  margin: 10vh auto 0;
  box-shadow: $shadow-card;

  &__heading {
    align-self: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: $larger-spacing;

    &-header {
      @keyframes fade-in {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      animation: fade-in 0.5s ease-out;
    }
  }

  &__button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: $default-spacing;

    button {
      margin-left: 5px;
    }
  }

  &__form {
    width: 100%;

    input {
      width: 100%;
    }
  }

  &__error-message {
    text-align: right;
    color: $warning-red;
    font-size: $font-size-regular;
    margin: $default-spacing 0;
    min-height: 23px;
  }
}

@media only screen and (min-width: $breakpoint-narrow) {
  .main-container {
    &__content {
      width: 90%;

      // max-width: 576px;
    }
  }
}

// @media only screen and (min-width: $breakpoint-middle) {
//   .main-container {
//     &__content {
//       width: 75%;
//     }
//   }
// }

// @media only screen and (min-width: $breakpoint-wide) {
//   .signin-container {
//     height: calc(280px + 3vw);
//   }
// }

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
