@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../assets/Inter-Regular.woff2') format('woff2'),
    url('../assets/Inter-Regular.woff') format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../assets/Inter-Bold.woff2') format('woff2'),
    url('../assets/Inter-Bold.woff') format('woff');
  font-display: fallback;
}

$font-inter: 'Inter', sans-serif;
$font-size-largest: calc(36px + 1.4vw);
$font-weight-normal: 400;
$font-weight-bold: 600;
