$font-color: #4a004a;
$lightest-gray: #f1f1f1;

$breakpoint-narrow: 480px;
$breakpoint-middle: 960px;
$breakpoint-wide: 1260px;

$smaller-spacing: calc(4px + 0.4vw);
$default-spacing: calc(8px + 0.8vw);
