$font-color: #221822; // rgba(74,29,74);
$lightest-gray: #f1f1f1;
$warning-red: #df0000;
$breakpoint-narrow: 480px;
$breakpoint-middle: 768px;
$breakpoint-wide: 992px;
$smaller-spacing: calc(4px + 0.4vw);
$default-spacing: calc(8px + 0.8vw);
$larger-spacing: calc(12px + 1vw);
$shadow-card: -4px 4px 19px -2px rgba($font-color, 0.5); // same as font-color
$shadow-button-regular: -2px 3px 5px -2px rgba($font-color, 0.3); // same as font-color
$shadow-button-hover: -3px 5px 8px -4px rgba($font-color, 0.6); // same as font-color

:export {
  font_color: $font-color;
}
