@import '../style/variables.module.scss';

.navbar-container {
  display: flex;
  justify-content: flex-start;
  padding: $smaller-spacing;

  &__item {
    margin-right: 20px;
  }
}

.footer-container {
  background-color: $lightest-gray;
  border-top: black solid 1px;
  padding: $smaller-spacing;
  margin-top: $default-spacing;
}
