@import '../../_style/variables.modules';

nav {
  display: flex;
  justify-content: flex-start;
  padding: $smaller-spacing;
  margin: 0 $larger-spacing;

  .nav-item {
    font-weight: $font-weight-bold;
    color: $font-color;
    cursor: pointer;
    outline: none;
    background: none;
    border: 1px solid $font-color;
    border-radius: 4px;
    text-decoration: none;
    margin-right: $smaller-spacing;
    padding: 5px 10px;
  }
}
