@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$lightest-gray: rgb(241, 241, 241);


$font-inter: 'Inter', sans-serif;
$font-size-largest: calc(30px + 1.2vw);
